.notice {
	margin: 5px;
}

.btn {
	text-decoration: none;
	color: white;
	padding: 5px;
	border: none;
	font-size: 12pt;
	padding: 10px;
}

.btn-vote {
	background-color: blue;
}

.btn-voted {
	background-color: green;
}

.btn-vote, .btn-voted {
	float: right;
}


.notice td {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	word-wrap: break-word;
}

.addressed-to {
	font-weight: bold;
	padding-right: 20px;
	min-width: 100px;
}

.title {
	margin-top: 0;
	font-size: 21pt;
	font-weight: 400;
	margin-bottom: 10px;
}

.btn-delete {
	text-decoration: none;
	color: red;
	padding: 5px;
	float: right;
}

.author {
	font-weight: bold;
}

.message p {
	margin: 0;
	margin-bottom: 4px;
	font-weight: 400;
}